* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.nav {
    background-color: white;
    padding-top: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navlist{
    margin: auto;
    padding: 0;
    list-style-type: none;
}
.navitem{
    display: inline-block;
    cursor: pointer;
    padding: 15px 20px;
    transition: all .3s;
}
.homenav:hover{
    border: 2px solid rgba(43, 41, 41, 0.452);
}
.aboutnav:hover { 
    border: 2px solid palevioletred;
}
.projectsnav:hover { 
    border: 2px solid rgb(12, 128, 236);
}
.gallerynav:hover {    
    border: 2px solid rgb(83, 235, 128);
}
.contactnav:hover {    
    border: 2px solid #ece922;
} 
.navlink{
    text-decoration: none;
    color: rgba(146, 140, 140, 0.63);
    font-weight: bold;
    text-align: center;
}
.navlink:hover{
    color: rgba(117, 115, 115, 0.63);
    text-decoration: none;
}
.navicon{
    display: none;
}
@media screen and (max-width: 800px) {
    .navlist{
        width: 100%;
    }
    .navitem:not(:first-child){
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .navlink{
        text-align: left;
    }
    .navlist.responsive .navitem:not(:first-child){
        display: none;
    }
    .navicon{
        display: block;
        position: absolute;
        top: 0;
        right: 5px;
        font-size: 20px;
        height: 55px;
    }
}
.name{
    margin: 0;
    padding: 50px;
    text-align: center;
}
.name p {
    font-family: 'WindSong', cursive;
    font-size: 70px;
    color: rgba(61, 60, 60, 0.5);
    letter-spacing: 3px;
    text-shadow: 1px 1px 3px rgba(61, 60, 60, 0.5);
    font: weight 1px;;
}
#home-page{
    border-bottom: 2px solid rgb(31, 30, 30);
} 
.img-home img{
    width: 100%;
}
#about-page{
    border-bottom: 2px solid rgb(31, 30, 30);
}
.about-back-img{
    background-image: url('./img/me-back-img.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: .8;
}
.row{
    padding: 50px 50px;  
}
.about-back-img .col-4{
    padding: 50px 50px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-content{
    background-color: rgba(255, 255, 255, 0.359);
    padding: 20px;
    color: black;    
    border-radius: 10px;
}
.about-content p{
    font-size: 18px;
    font-weight:500;
}
.about-content:hover{
    background-color: rgba(255, 255, 255, 0.480);
}
#about-page .container{
    width: 33%;
    margin-right: 20px;
    padding: 20px;
}
@media screen and (max-width: 1000px){
    #about-page .container{
        width: 70%;
        margin: auto;
    }
}
#gallery-page{
    background-color: white;
    border-bottom: 2px solid rgb(31, 30, 30);
}
.gallery{
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(27, 5vw);
    grid-gap: 20px; 
}
.gallery-img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block; 
  }
.item1{
   grid-column-start:1 ;
   grid-column-end: 8;
   grid-row-start: 1;
   grid-row-end: 9;
}
.item2{
   grid-column-start: 8;
   grid-column-end: 15;
   grid-row-start: 1;
   grid-row-end: 5;
}
.item3{
    grid-column-start: 8;
    grid-column-end: 15;
    grid-row-start: 5;
    grid-row-end: 9;
}
.item4{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 15;

}
.item5{
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 9;
    grid-row-end: 15;
}
.item6{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 15;
    grid-row-end: 20;
}
.item7{
    grid-column-start: 8;
    grid-column-end: 15;
    grid-row-start: 15;
    grid-row-end: 20;
}
.item8{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 20;
    grid-row-end: 24;
}
.item9{
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 20;
    grid-row-end: 28;
}
.item10{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 24;
    grid-row-end: 28;
}
#contact-page{
    background-color: #eed5c2;
    border-bottom: 2px solid rgb(31, 30, 30);
}
#contact-page .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-col{
    text-align: center;
    display: inline-block;
}
@media screen and (max-width: 430px){
    .contact-col{
        display: block;
        width: 100%;
    }
}
.contact-link{
    color: rgba(26, 25, 25, 0.753);
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
}
.contact-link:hover{
    color: rgba(26, 25, 25, 0.753);
    border: 1px solid rgba(26, 25, 25, 0.753);
    text-decoration: none;
}
.contact-link i {
    font-size: 20px;
}
footer{
    background-color: rgb(31, 30, 30);
}
.footer-content{
    margin: 0;
    text-align: center;
    padding: 10px;
    color: white;
}
.footer-content p {
    margin: 0;
}

